body {
  background: #0b152f;
}

.mo-fire {
  height: auto;
  position: fixed;
  left: 20%;
  bottom: -50px;
  z-index: 4; 
}

#svg-view {
  width: 260px;
  height: 200px;
  left: 0px;
}

.mo-fire svg {
  width: 100%;
  height: auto;
  position: relative;
  right: 40px;
}

.flame {
  animation-name: flameDisappear;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0.5;
  transform-origin: 45% 45% 0;
}

.flame.one {
  animation-delay: 1s;
  animation-duration: 3s;
}

.flame.two {
  animation-duration: 5s;
  animation-delay: 1s;
}

.flame-main {
  animation-name: flameMovement;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.flame-main.one {
  animation-duration: 2.2s;
  animation-delay: 1s;
}

.flame-main.two {
  animation-duration: 2s;
  animation-delay: 1s;
}

.flame-main.three {
  animation-duration: 2.1s;
  animation-delay: 3s;
}

.flame-main.four {
  animation-duration: 3.2s;
  animation-delay: 4s;
}

.flame-main.five {
  animation-duration: 2.5s;
  animation-delay: 5s;
}

@keyframes flameMovement {
  50% {
    transform: scale(0.98, 1) translate(0, 2px) rotate(-1deg);
  }
}

@keyframes flameDisappear {
  0% {
    transform: translate(0) rotate(180deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(-10px, -40px) rotate(180deg);
    opacity: 0;
  }
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    to top,
    #F2A81D,
    #F27B13 20%,
    #F23005 60%,
    #0D0D0D 90%,
    #8c1c03 100%
  );
  animation: fadeIn 1.5s forwards;
  opacity: 0;
}

.logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: logoEntry 2s ease-out;
}

.logo-section img {
  width: 70%;
  height: auto;
  margin-bottom: 8px;
  padding: 20px;
  margin: 20px;
}

.loading-text {
  color: white;
  font-size: 60px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 16px;
  line-height: 1.4;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-icons svg {
  color: white;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes logoEntry {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .loading-text {
    font-size: 28px;
  }

  .mo-fire {
    bottom: -10px; 
  }
}
